html,
body {
  font-family: 'Roboto';
  font-weight: 200;
  background: rgb(255, 234, 173);
  background: linear-gradient(180deg, rgba(255, 234, 173, 1) 0%, rgba(255, 187, 0, 1) 100%);
  padding-top: 60px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

strong {
  font-weight: 500;
}

label {
  font-weight: 400;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

main {
  margin-bottom: 20px;
  min-height: calc(100vh - 140px);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #6122ED
}

button:focus {
  outline: none
}

.container {
  padding-top: 20px;

}

/* Responsive */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 20px;

  }
}

/* Navbar */

.bg-purple {
  background-color: #6122ED;
}

.dropdown-item {
  color: white;
}

/* Login */

.home-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 20px;
}

/* Tours */

/* List */

.tour-list-item {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tour-list-img {
  height: 100%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tour-list-info {
  padding-top: 10px;
}

.tour-list-rating {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: -10px;
}

.tour-rating-img {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  padding-left: 3px;
  margin-top: 2px;
}

.tour-create-button-background {
  position: fixed;
  bottom: 0px;
  height: 85px;
  width: 100%;
  background-image: url('/img/background-create-tour.png');
  background-repeat: repeat-x;
  margin-left: -16px;
  display: flex;
  justify-content: space-around;
}

.tour-create-button {
  width: 100%;
  position: fixed;
  bottom: 30px;
  display: flex;
  justify-content: space-around;
  margin-left: -16px;
}

.tour-list-create-title {
  margin-top: 35px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: -16px;
}

.tour-create-button-panel {
  display: flex;
  justify-content: space-around;
  margin-right: -15px;
}

/* Tour Detail */
.tour-detail-photo {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.tour-detail-title {
  align-items: flex-end;
  margin-top: 10px;
}

.tour-detail-rating {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.tour-detail-desc {
  text-align: justify;
}

.tour-detail-location {
  margin-top: 20px;
  margin-bottom: 10px;
}

.tour-detail-map {
  height: 70vh;
  background-color: #6122ED;
  border-radius: 5px;
}

.tour-detail-list {
  margin-top: 20px;
}

.tour-detail-list-photo {
  height: 65px;
  width: 65px;
  border-radius: 100px;
  background-position: center;
  background-size: cover;
  border: 3px solid #6122ED;
}

#more {
  display: none;
}

.start-tour-button {
  position: absolute;
  top: 31px;
  left: 37px;
}

.tour-detail-rating {
  margin-bottom: 15px;
}

.tour-detail-comments {
  margin-top: 70px;
}

.tour-detail-comments-content {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}

.tour-detail-comments-photos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour-detail-comments-num-photos {
  margin-top: 10px;
}

.tour-comment-current-user {
  margin-bottom: 20px;
  margin-top: 10px;
}

.tour-detail-list-item {
  margin-left: 0;
  margin-right: 0;
}

.read-more {
  background-color: transparent;
  border: none;
}

.read-less {
  background-color: transparent;
  border: none;
}


/* Form Create Tour */
.create-tour-img {
  position: relative;
}

.purple-back {
  margin-bottom: 71px;
  margin-top: -21px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #6122ED;
  position: relative;
  padding: 20px 20px 0px 20px;
  height: 100%;
  height: 170px;
}

.purple-back-select {
  height: 128px;
}

.font-regular {
  font-weight: 300;
}

.select-place-tour {
  font-size: 30px;
  color: white;
  margin-top: -10px;
  text-align: center;
}

.btn-purple {
  background-color: #6122ED;
  font-size: 20px;
}

.modal-map {
  height: 60vh;
  background-color: #6122ED;
}

.tour-place {
  position: relative;
}

.tour-next-place {
  padding-top: 20px;
}

.tour-line {
  position: absolute;
  left: 46px;
}

.tour-line-img {
  height: 109px;
  width: 3px;
}

.tour-desc {}

.tour-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 15px;
}

.tour-num {
  position: absolute;
  padding-left: 7px;
  font-weight: bold;
  color: white;
  padding-top: 1px;
}

.tour-rating {
  text-align: right;
  margin-top: -20px;
}

.user-rating {
  padding-right: 5px;
}

.rating-num {
  color: #6122ED;
  font-size: 25px;
  font-weight: bold;
  padding-right: 5px;
}

.form-control {
  height: calc(1.5em + .75rem + 10px);
}

/* Tour Start */

.opacity5 {
  opacity: .5;
}

.tour-start-completed-tour {
  margin-top: 19px;
}

.tour-start-your-rating {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 50px;
}

.tour-start-title {
  font-size: 24px;
  font-weight: bold;
  ;
}

.tour-start-more-button {
  margin-top: 0px;
  margin-right: 10px;
}

.tour-start-more-info {
  padding-left: 5px;
}

.btn-link {
  color: black;
  text-decoration: none;
}

.btn-link:hover {
  color: #6122ED;
  text-decoration: none;
}

.btn-link:visited {
  color: black;
  text-decoration: none;
}

.accordion {
  border-radius: 5px !important;
}

.card {
  border-radius: 5px !important;
  background-color: transparent !important;
  border: none;
}

.card-header {
  background-color: transparent;
  padding: 0;
}

.card-body {
  padding: 0px;
  margin-top: 15px;
}

/* Places */
.place-detail-photo {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.place-detail-map {
  height: 30vh;
  background-color: #6122ED;
  border-radius: 5px;
  margin-bottom: 20px;
}

.place-detail-reviews {}

.text-green {
  color: green;
}

.text-red {
  color: red
}

.place-text-location {
  margin-bottom: 2px;
}

.schedule {
  margin-bottom: 0px;
}

/* footer */

footer {
  background-color: #6122ED;
  padding: 5px 20px;
}

.footer-content {
  margin-top: 12px;
  color: white;
}

/* Maps */

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 60vh;
  border: 1px solid #6122ED;
  border-radius: 5px;
  margin-top: 80px;
}

/* Optional: Makes the sample page fill the window. */
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
  width: 100%;
  right: -10px !important;
  top: -10px !important;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.gm-style-mtc {
  display: none;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#pac-input {
  height: 50px;
  width: 100%;
  margin-left: 0px;
  border: 0px;
}

#pac-container {
  padding-bottom: 0px;
  margin-right: 0px;
  border-bottom: 1px solid #6122ED;

}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 15px;
  height: 63px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0px;
  background-color: #6122ED;
}

.pac-controls {
  display: none !important;
  margin-top: 12px;
  display: block;
  align-items: center;
}

.pac-controls>label {
  margin-left: 10px;
}

.pac-controls>input {
  margin-left: 10px;
  margin-top: -8px;

}

#strict-bounds-selector {
  display: none !important;
}

.panel-back {
  background: rgb(255, 234, 173);
  background: linear-gradient(180deg, rgba(255, 234, 173, 1) 0%, rgba(255, 187, 0, 1) 100%);
}

.include-button {
  padding: 10px;
  margin-top: 20px;
}

#map.map-place-detail {
  height: 40vh;
}