:root {
  --purple-appy: #c8102e;
}

html,
body {
  font-family: 'Roboto';
  font-weight: 200;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 234, 173, 1) 0%, rgba(255, 187, 0, 1) 100%);

  padding-top: 60px;
  margin: 0;
  padding: 0;
}

body.purple-body {
  background: var(--purple-appy) !important;
}

strong {
  font-weight: 500;
}

label {
  font-weight: 400;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

main {

  margin-bottom: 20px;
  min-height: calc(100vh - 82px);
  padding-top: 80px;
}

.main-purple {
  padding-top: 40px;
  min-height: 100vh;
  margin-bottom: 0px;
  padding-bottom: 40px;
}

a {
  color: black;
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: none;
  color: var(--purple-appy)
}

button:focus {
  outline: none
}

.container {
  padding-bottom: 30px;
}

.text-purple {
  color: var(--purple-appy);
}

/* Responsive */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 20px;

  }
}

/* Navbar */

.bg-purple {
  background-color: var(--purple-appy);
}

.dropdown-item {
  color: white;
}

nav.navbar {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.10);
}

/* Login */

.login-input {
  margin-bottom: 10px;
}

.home-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 20px;
}

/* Tours */

/* List */

.open-icon {
  display: flex;
  justify-content: right;
  color: #FFBB00;
  padding: 0px;
}

.tour-list-place-info {
  flex-wrap: nowrap;
  height: 20px;
  margin-left: 0px;
}

.tour-list-title {
  font-size: 14px;
  margin-bottom: 0px;
}

.tour-list-info {
  padding: 5px 10px 3px 0px;
  padding-left: 0px !important-n;
}

.tour-list-descrip {
  font-size: 10px;
  font-weight: 100;
  margin-bottom: 5px;
}

.tour-list-item {
  /* background-color: white; */
  border-radius: 5px;
  margin-bottom: 10px;
}

.tour-list-img {
  height: 136px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tour-list-city {
  position: absolute;
  right: 30px;
}

.tour-list-info {
  padding: 10px;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tour-list-name {
  font-size: 20px;
  font-weight: normal;
}

.tour-list-desc {
  font-size: 14px;
  color: #777;
  margin-bottom: 0px;
}

.tour-list-rating {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -10px;
  position: absolute;
  bottom: 10px;
  right: 24px;
  background-color: #F4AF00DB;
  border-radius: 3px;
  padding: 2px 10px;
}

.tour-list-rating.detail {
  bottom: 10px;
  right: 10px;
}

.tour-list-rating.place-detail {
  bottom: 25px;
  right: 25px;
}

.tour-list-banner {
  margin-top: 0px;
}

.tour-list-recommended {
  background-color: var(--purple-appy);
  border-radius: 3px;
  padding: 2px 10px;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  color: white;
}

.tour-rating-img {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  padding-left: 3px;
  margin-top: 2px;
  width: 20px;
}

.tour-create-button-background {
  position: fixed;
  bottom: 0px;
  height: 85px;
  width: 100%;
  background-image: url('/img/background-create-tour.png');
  background-repeat: repeat-x;
  margin-left: -16px;
  display: flex;
  justify-content: space-around;
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.15);
}

.tour-create-button {
  width: 100%;
  position: fixed;
  bottom: 30px;
  display: flex;
  justify-content: space-around;
  margin-left: -16px;
}

.tour-list-create-title {
  margin-top: 35px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: -16px;
}

.tour-create-button-panel {
  display: flex;
  justify-content: space-around;
  margin-right: -15px;
}

.tour-create-title {
  padding-right: 35px;
}

/* Tour Detail */

.tour-detail-col-photo {
  padding-right: 90px;
}

.tour-detail-place-position {
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 0px 10px 0 0px;
  margin-right: -15px;
  align-items: center;
}

.price-info {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
  margin-top: 5px;
  margin-left: 0px;
  margin-top: -22px;
  padding: 20px;
  align-items: baseline;
  margin-left: -7px;
}

.price-icon>img {
  height: 16px;
  margin-top: -8px;
}

.price-display {
  padding: 5px;
  background-color: rgb(255, 0, 0);

}

.tour-detail-recommended {
  color: white;
  position: absolute;
  display: flex;
  top: 5px;
  left: 5px;
  background-color: var(--purple-appy);
  padding: 3px;
  border-radius: 3px;
}

.appy-slack {
  color: white;
  opacity: .5;
  padding-right: 3px;
  padding-left: 3px;
}

.appyhour-breadcrumb {
  color: #FFCB38;
  background-color: rgb(130, 10, 30);
  padding: 5px 5px;
  border-radius: 5px;
}

div.tour-list-rating>img {
  padding-left: 5px;
}

div.place-detail-rating>img {
  padding-left: 5px;
}

.place-detail-rating {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: -10px;
  position: absolute;
  bottom: 25px;
  right: 25px;
  background-color: rgba(200, 16, 46, 0.81);
  border-radius: 3px;
  padding: 2px 10px;
}

.purple-back-secundary {
  margin-bottom: 15px;
  margin-top: -21px;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  background-color: var(--purple-appy);
  position: relative;
  padding: 10px 20px 0px 15px;
  height: 100%;
  height: 60px;

}

.tour-detail-title-primary {
  position: absolute;
  color: #fff;
  font-weight: normal;
  margin-top: 12px;
  font-size: 20px;

}

.tour-detail-img {
  right: 15px;
  margin-top: -10px;
  position: absolute;
}

.tour-detail-photo {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
}

.tour-detail-title {
  align-items: flex-end;
  margin-top: 10px;
}

.tour-detail-rating {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.tour-detail-desc {
  text-align: justify;
  position: relative;
}

.tour-detail-desc>p {
  font-size: 14px;
  font-weight: 100;
}

.tour-detail-location {
  margin-top: 20px;
  margin-bottom: 10px;
}

.tour-detail-map {
  height: 70vh;
  background-color: var(--purple-appy);
  border-radius: 5px;
  top: 59px;
  /* border-bottom: 35px solid var(--purple-appy) !important;
  border-top: 35px solid var(--purple-appy) !important; */
}

.tour-detail-start-icon {
  border: 4px solid white !important;
  border-radius: 100px;
  padding: 6px;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 35px;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tour-detail-list {
  margin-top: 20px;
}

.tour-detail-list-photo {
  width: 100px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

.place-ontour {
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
}

#more {
  display: none;
}

.start-tour-button {
  position: absolute;
  top: 30px;
  left: 37px;
}

.tour-detail-rating {
  margin-bottom: 15px;
}

.tour-detail-comments {
  margin-top: 70px;
}

.tour-detail-comments-photos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour-detail-comments-num-photos {
  margin-top: 10px;
}


.tour-detail-list-item {
  margin-left: 0;
  margin-right: 0;
  margin-top: 40px;

}

#map.tour-detail-map {
  height: 40vh;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.read-more {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0px;
  right: -15px;
}

.read-less {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0px;
  right: -15px;
}

.map-icons {
  right: 15px;
  position: absolute;
  top: 10px;
}

.tour-detail-start-button {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: rgba(200, 16, 46, 0.6);
  z-index: 2000;
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.15);
  padding: 0 15px;
}

.mp-less {
  margin: 0;
  padding: 0;
}

i.fa.fa-image {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #6123ed;
  color: white;
}

input#avatar {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #6123ed;
  display: inline-block;
}

input#avatar:focus+label,
input#avatar+label:hover {
  background-color: red;
}

.tour-detail-your-rating {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 20px 0px;
  width: 100%;
}

/* .beer-rating {
  padding: 0 9px;
  margin: 0px -40px;
} */

.beer-rating-cont {
  height: 46px;
  width: 39px !important;
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: center;
}

#beer-rating-cont-01 {
  z-index: 5;
}


/* Form Create Tour */

.tour-create-rating {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  margin-top: -5px;

}

div.tour-create-rating>img {
  padding-left: 3px;
}

.tour-create-btn {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

.btn-delete {
  padding: 0px 6px;
}

.create-tour-img {
  position: relative;
  margin-left: 5px;
}

.purple-back {
  margin-bottom: 71px;
  margin-top: -21px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: var(--purple-appy);
  position: relative;
  padding: 20px 20px 0px 20px;
  height: 100%;
  height: 170px;
}

.purple-back-select {
  height: 128px;
}

.font-regular {
  font-weight: 300;
}

.select-place-tour {
  font-size: 30px;
  color: white;
  margin-top: -5px;
  text-align: center;
}

.btn-purple {
  background-color: var(--purple-appy);
  font-size: 20px;
}

.btn-orange {
  background-color: #ffcb37;
}

.btn-white {
  background-color: #fff;
  font-size: 20px;
}

.modal-map {
  height: 60vh;
  background-color: var(--purple-appy);
}

.tour-place {
  position: relative;
}

.tour-next-place {
  padding-top: 20px;
}

.tour-line {
  position: absolute;
  left: 26px;
  bottom: -14px;
}

.tour-line-img {
  height: 72px;
  width: 3px;
}

.tour-desc {
  height: 75px;
}

.tour-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 15px;
}

.tour-num {
  position: absolute;
  padding-left: 2px;
  font-weight: bold;
  color: white;
  padding-top: 5px;
  width: 29px;
  text-align: center;
}

.tour-detail-nametour {
  position: absolute;
  z-index: 20;
  padding: 10px;
  background-color: #c8102ed1;
  border-radius: 5px;
  color: white;
}

.tour-num-new {
  position: absolute;
  padding-left: 2px;
  font-weight: bold;
  padding-top: 5px;
  width: 55px;
  text-align: center;
  font-size: 45px;
  color: var(--purple-appy);
  display: flex;
  height: 55px;
  align-items: center;
  margin-top: 0px;
  margin-left: -27px;
  justify-content: center;
  margin-top: 18px;
  margin-left: 0px;
}

.tour-rating {
  text-align: right;
  margin-top: -20px;
}

.user-rating {
  padding-right: 5px;
}

.rating-num {
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding-right: 5px;
}

.form-control {
  height: calc(1.5em + .75rem + 10px);
}

.form-control-file {
  font-size: 14px;
  padding: 12px;
}

/* Tour Start */

.tour-num-new.tour-start-check {
  font-size: 25px;
}

button#myBtn {
  padding-left: 0px;
}

.card-header {
  border-bottom: 0px;
}

.card-body {
  margin-left: -15px;
  margin-right: -15px;
}

.opacity5 {
  opacity: .5;
}

.tour-start-completed-tour {
  margin-top: 19px;
  position: relative;
}

.start-tour-button-completed {
  position: absolute;
  top: 16px;
  left: 22px;
}

.tour-start-your-rating {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 50px;
}

.tour-start-title {
  font-size: 24px;
  font-weight: bold;
  ;
}

.tour-start-more-button {
  margin-top: 0px;
  margin-right: 10px;
}

.tour-start-more-info {
  padding-left: 3px;
}

.btn-link {
  color: black;
  text-decoration: none;
}

.btn-link:hover {
  color: var(--purple-appy);
  text-decoration: none;
}

.btn-link:visited {
  color: black;
  text-decoration: none;
}

.accordion {
  border-radius: 5px !important;
}

.card {
  border-radius: 5px !important;
  background-color: transparent !important;
  border: none;
}

.card-header {
  background-color: transparent;
  padding: 0;
}

.card-body {
  padding: 0px;
  margin-top: 15px;
}

/* Place Detail */
.place-detail-comments-content {
  padding: 5px 10px;
  margin-top: 15px;
  border-bottom: 1px solid #0000002b
}

.place-comment-current-user {
  margin-bottom: 20px;
  margin-top: 10px;
}

.place-detail-review-rating {
  padding: 0px 0px;
  position: absolute;
  right: 15px;
  border-radius: 5px;
  display: flex;
  align-items: baseline;
}

div.place-detail-review-rating>img {
  padding-left: 3px;
}

.place-detail-autorPhoto {
  width: 30px;
  padding-right: 5px;
}

.place-detail-photo {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.place-detail-map {
  height: 30vh;
  background-color: var(--purple-appy);
  border-radius: 5px;
  margin-bottom: 20px;
}

.place-detail-reviews {}

.text-green {
  color: green;
}

.text-red {
  color: red
}

.place-text-location {
  margin-bottom: 2px;
}

.schedule {
  margin-bottom: 0px;
}

.schedule-info {
  padding: 0px 10px;
  margin-top: -1px;
  font-size: 14px;
  font-weight: bold;
}

.tour-detail-rating-new {
  background-color: #c8102ebf;
  border-radius: 5px;
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}

div.tour-detail-rating-new>img {
  width: 10px;
  height: 10px;
}

div.tour-detail-rating-new>span {
  font-size: 15px;
}

/* footer */

footer {
  background-color: var(--purple-appy);
  padding: 5px 20px;
}

.footer-content {
  margin-top: 12px;
  color: white;
}

/* Maps */

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#directions-panel {
  margin-top: 10px;
  background-color: #ffee77;
  padding: 10px;
  overflow: scroll;
  height: 174px;
}

#map {
  height: 60vh;
  border: 1px solid var(--purple-appy);
  border-radius: 5px;
  /* margin-top: 75px; */
}

/* Optional: Makes the sample page fill the window. */
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
  width: 100%;
  right: -10px !important;
  top: -10px !important;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.gm-style-mtc {
  display: none;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#pac-input {
  height: 50px;
  width: 100%;
  margin-left: 0px;
  border: 0px;
}

#pac-container {
  padding-bottom: 0px;
  margin-right: 0px;
  border-bottom: 1px solid var(--purple-appy);

}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 15px;
  height: 63px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0px;
  background-color: var(--purple-appy);
}

.pac-controls {
  display: none !important;
  margin-top: 12px;
  display: block;
  align-items: center;
}

.pac-controls>label {
  margin-left: 10px;
}

.pac-controls>input {
  margin-left: 10px;
  margin-top: -8px;

}

#strict-bounds-selector {
  display: none !important;
}

.panel-back {
  background: rgb(255, 234, 173);
  background: linear-gradient(180deg, rgba(255, 234, 173, 1) 0%, rgba(255, 187, 0, 1) 100%);
}

.include-button {
  padding: 10px;
  margin-top: 20px;
}

#map.map-place-detail {
  height: 40vh;
}