<div class="purple-back">

    <div class="create-tour-img">
        <img src="/img/appyhourtour.svg" alt="AppyHour Tour">
    </div>
</div>

<form action="/tours/form-2" method="POST" enctype="multipart/form-data">
    <div class="form-group">

        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-purple btn-block text-white">Beer</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-purple btn-block text-white" disabled>Wine</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input name="tourName" id="tourName" type="text" class="form-control" aria-describedby="emailHelp"
            placeholder="Tour Name" required>
    </div>
    <div class="form-group">
        <textarea name="tourDescription" id="tourDescripton" class="form-control" rows="3" placeholder="Description"
            required></textarea>
    </div>
    <div class="form-group mb-3">


        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input {{#if error.image }}is-invalid{{/if}}" id="image"
                    name="image">
                <label class="custom-file-label" for="image">Choose file</label>
            </div>
        </div>
        {{!-- <input type="file" class="form-control-file {{#if error.image }}is-invalid{{/if}}" id="image" name="image"> --}}

        {{#if error.image}}
        <div class="invalid-feedback">
            {{error.image.message}}
        </div>
        {{/if}}
        {{!-- <div class="input-group-append">
            <button class="btn btn-purple text-white pl-3" type="button"><i class="fa fa-photo"></i></button>

        </div> --}}
    </div>

    <!-- <a type="submit" href="/tours/form-2" class="btn btn-purple text-white btn-block mt-3">Next Step</a> -->
    <button type="submit" class="btn btn-purple text-white btn-block mt-3">Next Step</button>
</form>