<article class="tour-detail">
    <div class="row">
        <div class="col-sm-12">
            <h1>Tour Detail</h1>
            <h3>Historical Tour</h3>
        </div>
        <div class="col-sm-12">
            <div class="tour-detail-photo" style="background-image: url('/img/historical-tour.jpg');">
            </div>
        </div>
        <div class="col-sm-12 tour-detail-title">
            <div class="tour-detail-rating">
                {{!-- <span class="user-rating">(74)</span> --}}
                <span class="rating-num">4.5</span>
                <img class="tour-rating-img" src="/img/rating-beer-on.png" alt="1">
                <img class="tour-rating-img" src="/img/rating-beer-on.png" alt="2">
                <img class="tour-rating-img" src="/img/rating-beer-on.png" alt="3">
                <img class="tour-rating-img" src="/img/rating-beer-on.png" alt="4">
                <img class="tour-rating-img" src="/img/rating-beer-half.png" alt="5">
            </div>
        </div>
        <div class="col-sm-12 tour-detail-desc">
            <strong>Description:</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum,
                nisi
                lorem egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula venenatis dolor.
                    Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut
                    aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc
                    venenatis
                    imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue
                    eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></p>
            <button onclick="readMore()" id="myBtn" class="read-more"> <img src="/img/more-info-button.png"
                    alt="Read More"> Read
                more</button>
        </div>

        {{!-- Tour Location --}}
        <div class="col-sm-12">
            <div class="tour-detail-location">
                <strong>City: </strong> Madrid
            </div>

            {{!-- Map --}}
            <div id="map"></div>
            <div id="infowindow-content">
                <img src="" width="16" height="16" id="place-icon" />
                <span id="place-name" class="title"></span><br />
                <span id="place-address"></span>
            </div>

        </div>

        {{!-- Start Tour --}}
        <div class="col-sm-12 pb-3">
            <img class="start-tour-button" src="/img/appyhour-icon.png" alt="AppyHour">
            <a href="/tours/start" class="btn btn-purple text-white btn-block mt-3 pt-3 pb-3 mb-3"> <strong>Start
                    Tour</strong></a>
        </div>

        {{!-- Tour Places --}}
        <a href="/tours/places">
            <div class="row tour-detail-list-item">
                <div class="col-3">
                    <div class="tour-detail-list-photo" style="background-image: url('/img/madrilenos.jpg');">
                    </div>
                    <div class="tour-line">
                        <img class="tour-line-img" src="/img/tour-line.png" alt="Tour Line">
                    </div>
                </div>
                <div class="col-9">
                    <div class="tour-circle">
                        <p class="tour-num">1</p>
                        <img src="/img/tour-circle-purple.png" alt="Circle Purple">
                    </div>
                    <h3>Madrileños</h3>
                    <p class="tour-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, cumque</p>
                </div>
                <div class="col-12 tour-detail-rating">
                    <span class="user-rating">(74)</span>
                    <span class="rating-num">4.5</span>
                    <img src="/img/star-on.png" alt="1">
                    <img src="/img/star-on.png" alt="2">
                    <img src="/img/star-on.png" alt="3">
                    <img src="/img/star-on.png" alt="4">
                    <img src="/img/star-half.png" alt="5">
                </div>
            </div>
        </a>

        {{!-- Second place --}}

        <div class="col-3">
            <div class="tour-detail-list-photo" style="background-image: url('/img/laperla.jpg');">
            </div>
            <div class="tour-line">
                <img class="tour-line-img" src="/img/tour-line.png" alt="Tour Line">
            </div>
        </div>
        <div class="col-9">
            <div class="tour-circle">
                <p class="tour-num">2</p>
                <img src="/img/tour-circle-purple.png" alt="Circle Purple">
            </div>
            <h3>La Perla</h3>
            <p class="tour-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, cumque?</p>
        </div>
        <div class="col-12 tour-rating">
            <span class="user-rating">(183)</span>
            <span class="rating-num">4.3</span>
            <img src="/img/star-on.png" alt="1">
            <img src="/img/star-on.png" alt="2">
            <img src="/img/star-on.png" alt="3">
            <img src="/img/star-on.png" alt="4">
            <img src="/img/star-half.png" alt="5">
        </div>

        {{!-- Comments --}}

        <div class="col-sm-12 tour-detail-comments">
            <h3>Comments</h3>

            <div class="tour-detail-comments-content">
                <div class="tour-comment-current-user">
                    {{!-- <img src="{{currentUser.avatar}}" width="20" class="mr-2 rounded-circle" />
                    {{currentUser.name}} --}}
                    <img class="pr-2" src="/img/current-user.png" alt="Current User"> Jaime Baró Val
                </div>
                <h4>Madrileños</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam amet unde deleniti perferendis saepe
                    corporis nesciunt modi, et ipsa cumque...</p>
                <div class="row">
                    <div class="col-8 tour-detail-comments-photos">
                        <img src="/img/comment-photo-1.png" alt="Comment Photo 1">
                        <img src="/img/comment-photo-2.png" alt="Comment Photo 2">
                        <img src="/img/comment-photo-3.png" alt="Comment Photo 3">
                        <img src="/img/comment-photo-4.png" alt="Comment Photo 4">
                        <img src="/img/comment-photo-5.png" alt="Comment Photo 5">
                    </div>
                    <div class="col-4 tour-detail-comments-num-photos">
                        <img src="/img/comment-icon-photos.png" alt="Photo Count">
                        <span class="rating-num">12</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>